**/dgph
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*sync/
.sconsign.dblite
.tags*
**/.vagrant/
**/DerivedData/
Icon?
**/Pods/
**/.symlinks/
profile
xcuserdata
**/.generated/
Flutter/App.framework
Flutter/Flutter.framework
Flutter/Flutter.podspec
Flutter/Generated.xcconfig
Flutter/ephemeral/
Flutter/app.flx
Flutter/app.zip
Flutter/flutter_assets/
Flutter/flutter_export_environment.sh
ServiceDefinitions.json
Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3

# Firebase
android/app/google-services.json
ios/firebase_app_id_file.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart
firebase.json

.dart_tool
.gitignore
.dart_tool/
ios/.gitignore
ios/*
.dart_tool/*

.qodo


ios/
build/ios/
build/*

# Ignorar arquivos da build iOS
build/ios/

# Ignorar arquivos sensíveis do iOS
ios/Runner/GoogleService-Info.plist
ios/Runner/Info.plist
ios/Runner/Base.lproj/Main.storyboard
ios/Runner/Runner-Bridging-Header.h

# Ignorar arquivos gerados automaticamente
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

.dart_tool/
.dart_tool/**/
.dart_tool/version
.flutter-plugins

.dart_tool/
.build/
.flutter-plugins
.flutter-plugins-dependencies
